<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test  name="Chrome">
	  <parameter name="port" value="5555"/>
    <classes>
      <class name="org.TestGrid.GridTestCase6"/>
      <class name="org.TestGrid.GridTestCase3"/>
      <class name="org.TestGrid.GridTestCase5"/>
      <class name="org.TestGrid.GridTestCase4"/>
      <class name="org.TestGrid.GridTestcase2"/>
      <class name="org.TestGrid.GridTestCase1"/>
    </classes>
  </test> <!-- Test -->
  
   <test  name="MicrosoftEdge">
	   <parameter name="port" value="6666"/>
    <classes>
      <class name="org.TestGrid.GridTestCase6"/>
      <class name="org.TestGrid.GridTestCase3"/>
      <class name="org.TestGrid.GridTestCase5"/>
      <class name="org.TestGrid.GridTestCase4"/>
      <class name="org.TestGrid.GridTestcase2"/>
      <class name="org.TestGrid.GridTestCase1"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
